<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>┐(´-｀)┌</title>
	<style type="text/css">
		body{
			margin: 0px;
			background: linear-gradient(135deg,#2afadf,#4c83ff);
			width: 100%;
			height: 100vh;
    		display:flex;
/*    		align-items: center;*/
   			justify-content: center;
		}
		h1{
			font-size: 50px;
			display: inline-block;
/*
			position: absolute;
			top: 10%;
*/
			background: linear-gradient(135deg,#eb5537,#b210ff);
			-webkit-background-clip:text;
			color: transparent;
		}
		#klee_h{
/*			position: relative;*/
			width: 30vw;
		}
	</style>
</head>
<body>
<!--	<img th:src="static\images\klee_h.gif" alt=""/>-->
	
	<h1><center><img id="klee_h" th:src="@{/images/klee_h.gif}" alt=""/></center><center>宝物就在这个位置</center><br><center>可是可莉找不到┐(´-｀)┌</center></h1>
</body>
</html>